@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family:'Poké2';
    src: url(../font/Pokemon\ Hollow.ttf) format('truetype');
}

@font-face {
    font-family:'Poké1';
    src: url(../font/Pokemon\ Solid.ttf) format('truetype');
}

:root{
    --cor1:#000000;
    --cor2:#ffffff;
    --cor3:#c4c4c4;
    --megacor1:#ffc0ff;
    --megacor2:#b7f4f4;
    --megacor3:#49FF42;
    --megacor4:#D5FC4E;
    --fire:#f1a31e;
    --water:#0292b2;
    --grass:#0b7602;
    --corhover:#630000;

    --font-principal1: 'Poké1', Arial, Helvetica, sans-serif;
    --font-pricipal2: 'Poké2', Arial, Helvetica, sans-serif;
    --font-secundaria: 'Oswald', sans-serif;
    --font-h2: 'Kanit', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

body{
    background-color: rgb(0, 0, 0);
    
}

/*Topo*/
header{
    background-color: var(--cor3);
    margin: 20px 10px 10px;
    border-radius: 20px;
    border: 2px solid var(--cor2);
    
}

header h1{
    text-align: center;
    font-family: var(--font-principal1);
    font-size: 2.8em;
}

header > h1:hover{
    text-decoration: underline;
    color: var(--corhover);
    font-size: 2.9em;
}


header  a{
    display: inline;
    font-family: var(--font-principal1);
    padding-left: 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--cor1);
    margin-left: 10px;
}

header  a:hover{
    text-decoration: underline;
    color: var(--corhover);
}

/*Centro*/
main{
    background-color: var(--cor3);
    margin: 20px;
    border-radius: 20px;
    border: 2px solid var(--cor2);
    max-width: 1400px;
    padding: 20px;
}

/*Textos e Títulos*/

main > h2{
    text-align: center;
    margin: 20px 10px 0px 10px;
    font-size: 2.5em;
    font-family: var(--font-h2);
    font-weight: 500;
}

main > h2:hover{ 
    text-decoration: underline;
    color: var(--cor2);
}

section > p{
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 600;
    max-width: 700px;
    margin: auto;
    padding-bottom: 20px;
    font-size: 1.5em
}

/*Borda e imagem*/

.gen{
    display: inline-block;
    margin-left: 90px;
}

.pokemon{
    display: inline-block;
    margin: 30px 40px;
}

.pokemonbox{
    border: 3px solid var(--cor1);
    border-radius: 20px;
    display: inline-block;
    width: 80%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.387);
}

.pokemonbox:hover{
    width: 81%;
}

.pokemonbox:active{
    background-image: url(../imagens/catch.png);
}

.borderwater{
    border-color: var(--water);
}

.borderfire{
    border-color: var(--fire);
}

.bordergrass{
    border-color: var(--grass);
}

/*videos*/
.video{
    background-color: var(--cor1);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

iframe{
    top: 5%;
    left: 5%;
    height: 60%;
    width: 60%;
    position: absolute;
}
/* Marcador de nome*/
.namefire{
    color: var(--fire);
}

.namewater{
    color: var(--water);
}

.namegrass{
    color: var(--grass);
}

.namefire:hover, .namegrass:hover, .namewater:hover{
    text-decoration: underline;
}

