@charset "UTF-8";

/*Pag Mega*/
#megabody{
    background-image: linear-gradient(to top ,var(--megacor1), var(--megacor2), var(--megacor3), var(--megacor4));
    height: 800px;
}

#headermain{
    background-color: var(--megacor2);
    border: 1px solid black;
}

#megamain{
    background-color: var(--megacor2);
    border: 1px solid black;
}

.megah2{
    font-family: 'Poké1';
    margin-top: -30px;
}

.megahover:hover{
    color:var(--megacor1) ;
}

.sicomoro{
    width: 60%;
    margin: -10;
    border: 1px solid black;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.boxchave{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    margin-left: 565px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.megapedra{
    display: inline-block;
    border-radius: 10px;
    margin: 30px 0px 30px 176px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}