@charset "UTF-8";

@font-face {
    font-family: 'Pokéfont';
    src: url('../font/Pokemon\ Solid.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontpadrao);
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 255, 248);
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

:root {
    --cor01: rgb(0, 0, 0);
    --cor02: rgb(224, 223, 223);
    --cor03: rgb(255, 255, 255);
    --cor04: rgba(255, 33, 33, 0.778);

    --grass: rgb(0, 128, 0);
    --fire: rgb(253, 167, 47);
    --water: rgb(53, 173, 210);

    --fontpokemon: 'Pokéfont', Arial, Helvetica, sans-serif;
    --fontpadrao: 'Tilt Neon', cursive, Arial, Helvetica, sans-serif;
}

/*Top*/
header {
    background-color: var(--cor02);
    margin: -10px 5px 5px 5px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    border: 1px solid var(--cor04);
    border-top: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.664);
}

header > h1 {
    font-family: var(--fontpokemon);
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--cor04);
    text-shadow: 1px 1px 1px black;
}

header > menu {
    display: block;
    margin: auto;
    width: 273px;
    padding: 10px 0px;
}

header menu > a, header menu > p {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor04);
    text-shadow: 1px 1px 1px black;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0px 15px;
    background-color: var(--cor02);
    padding: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.485);
    transition: transform 1s, box-shadow 1s;
}

header menu > a:hover, header menu > p:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.485);
    transform: translateY(-5px);
}
/*Top*/

/*Center*/
/*  
    (.gens = sections)
    (.gens .type-.....-div = sections div)
    (....-fire-... = id = especificando tipo do pokémon, para mudar cor da borda e margin)   
*/
main {
    background-color: var(--cor02);
    margin: 5px;
    border-radius: 10px;
    border: 1px solid var(--cor04);
}

main h2{
    text-align: center;
    font-size: 1.8em;
    margin: 10px 0px 0px;
    color: var(--cor04);
    text-shadow: 1px 1px 1px black;
}
main  h3{
    text-align: center;
    font-size: 1.5em;
    margin: 5px 0px 15px;
    color: var(--cor04);
    text-shadow: 1px 1px 1px black;
}

main > .gens {
    display: block;
    width: 450px;
    margin: auto;
}

main div {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.600);
    transition: transform 1s, box-shadow 1s ;
}

main div:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transform: translateY(-5px);

}

main img {
    width: 150px;
    display: inline-block;
}

.gens .type-grass-div {
    margin: 10px 20px 10px 30px;
    border-color: var(--grass);
}

.strong-grass{
    color: var(--grass);
    font-weight: 700;
}

.gens .type-fire-div {
    margin: 10px 20px 10px 60px;
    border-color: var(--fire);
}

.strong-fire{
    color: var(--fire);
    font-weight: 700;
}

.gens .type-water-div {
    margin: 0px 155px 10px 154px;
    border-color: var(--water);
}

.strong-water{
    color: var(--water);
    font-weight: 700;
}

.strong-grass:hover, .strong-fire:hover, .strong-water:hover{
    text-decoration: underline;
}


main div > p {
    display: none;
    text-align: center;
    font-weight: bold;
}

main div:hover > p{
    display: block;
}

.gens > p{
    display: block;
    margin: auto;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 440px;
}
/*Center*/